:root {
  --primary-100: #ffebed;
  --primary-200: #ffadb8;
  --primary-300: #ff8595;
  --primary-400: #ff334e;
  --primary-500: #b80018;
  --primary-600: #8f0013;
  --primary-700: #7a0010;
  --primary-800: #5b000c;
  --primary-900: #3d0008;
}
