:root {
  --primary-100: #f3e9ff;
  --primary-200: #d8baff;
  --primary-300: #bc8cff;
  --primary-400: #8c33ff;
  --primary-500: #5a00b8;
  --primary-600: #47008f;
  --primary-700: #3c007a;
  --primary-800: #2d005b;
  --primary-900: #1f003d;
}
